name: Prod CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install sshpass
        run: sudo apt-get install -y sshpass

      - name: Production
        run: |
          # Production commands here
          echo "Production the application"

      - name: Deploy to VPS
        env:
          SSH_USER: ${{ secrets.VPS_USERNAME }}
          SSH_PASS: ${{ secrets.VPS_PASSWORD }}
          VPS_IP: ${{ secrets.VPS_IP }}
        run: |
          sshpass -p "$SSH_PASS" ssh -o StrictHostKeyChecking=no $SSH_USER@$VPS_IP << 'EOF'
            cd /root/prod/BE
            git fetch origin
            git reset --hard origin/main
            git clean -fd
            npm install
            npm run migrate-run
            npm run seeder-all
            pm2 restart PROD_SERVER
          EOF
